{% extends "base.html.twig" %}

{% block body %}

	<h1>Créer une entreprise</h1>
    

{{ form_start(formCreationEntreprise) }}


	<div class='secteur-container'>
        <span>Secteur d'Activité </span>
        {{ form_row(formCreationEntreprise.secteur)}}
		
		<select name="secteur" size=1 multiple>
		{% for secteur in arraySecteur %}
				<option value="0">{{ formCreationEntreprise.secteur }}</option>
		{% endfor %}
    </div>

{{ form_end(formCreationEntreprise) }}

	
{% endblock %}
