{% extends "base.html.twig" %}

{% block body %}

	<h1>Créer une entreprise</h1>
    
{{ form_start(formulaireCreation) }}

<input type="upload">
<input type="submit">

{{ form_end(formulaireCreation) }}

	
{% endblock %}
