{% extends "base.html.twig" %}

{% block title %}
	Laisser un Avis
{% endblock %}

{% block body %}

<h1>Laisser un Avis</h1>
<h3 align=center>{{entreprise.nom}}</h3>

<hr>

  {{ form_start(formulaireNote) }}
  
  {{form_widget(formulaireNote)}}

  <input type="submit">

  {{ form_end(formulaireNote) }}


{% endblock %}
