/* body {
    background-color: rgb(255, 255, 255);
    font-family: 'Unbounded', sans-serif;
    font-size: 70%;
}

.navbar-brand {
    font-size: 130%;
}

.conteneur {
    position: relative;
}

.button-home-entreprise-fixed {
    position: absolute;
    top: 75%; 
    left: 75%; 
}


.top3-accueil {
    width : "30%";
    padding: 3%;
}

.bouton-accueil {
    position: absolute;
    top: 50%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    padding: 20px 78px;
    background-color: transparent;
    border-radius: 1em;
    border: none;
    cursor: pointer;
} */